<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="CSS/styles.css" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main-section">
      <div class="row no-gutters">
        <div class="col-lg-8">
          <div class="main-content">
            <img src="Assets/image.jpeg" alt="" />
            <h2>Welcome!</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Expedita, labore distinctio! Ratione aliquam omnis repudiandae non
              eveniet illo consequuntur nostrum ex maxime recusandae ut, nobis
              suscipit officiis deleniti nam exercitationem in sed quaerat.
              Accusamus corporis inventore fuga, cupiditate at rerum ea esse
              dolores asperiores dolorum officia nulla facere ab deserunt.
            </p>
          </div>
        </div>
