<%- include("partials/header") -%>

<div class="col-lg-4">
  <div class="home-page">
    <h1>
      Successfully Logged In. <br />
      <br />
      This is the home page
    </h1>
  </div>
</div>

<%- include("partials/footer") -%>
